.namebox, .letterbox{
    width : calc(50% - 120px);
    padding: 20px;
}
h1{
    font-size: 110px;
    margin: 0;
    line-height: 1em;
    letter-spacing: -0.03em;
    font-weight: 400;
    font-family: 'Arvo', serif;
}
h3{
    font-size: 30px;
    margin: 0;
    line-height: 0.8em;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.letterbox p{
    margin: 0;
}

.container-wide.flexWRAP.fullHG{
    justify-content: space-between;
}

.hasht{
    padding: 0;
    margin: 15px 0;
}
.hasht li{
    list-style-type: none;
    margin-right: 15px;
    display: inline-block;
    font-weight: bolder;
}

@media screen and (max-width: 1024px) {
    .namebox, .letterbox{
        width : calc(50% - 20px);
        padding: 20px;
    }
}


@media screen and (max-width: 767px) {
    .namebox, .letterbox{
        width : 100%;
    }
    .namebox{
        text-align: center;
        height: auto;
        border-radius: 12px;
    }
    h1{
        font-size: 70px;
    }
    h3{
        font-size: 22px;
    }
    .container-wide.flexWRAP.fullHG{
        justify-content: center;
        height: auto;
    }
}