.namebox, .letterbox{
    width : calc(50% - 120px);
    padding: 20px;
}
h1{
    font-size: 110px;
    margin: 0;
    line-height: 1em;
    letter-spacing: -0.03em;
    font-weight: 400;
    font-family: 'Arvo', serif;
}
h3{
    font-size: 30px;
    margin: 0;
    line-height: 0.8em;
    font-family: 'Lobster', cursive;
    font-weight: 400;
    letter-spacing: 0.02em;
}
.letterbox{
    text-align: justify;
}

@media screen and (max-width: 767px) {
    .namebox, .letterbox{
        width : 100%;
    }
    .namebox{
        text-align: center;
        height: 16.6666667vh;
    }
    h1{
        font-size: 56px;
    }
    h3{
        font-size: 22px;
    }
}